<head>
    <style>
        #input-username-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            color: white;
        }
        #username {
            margin-bottom: 10px;
        }
        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<form id="input-username-form">
    <label for="username">User Name:</label>
    <input type="text" id="username" name="username" required>
    <button type="submit">Set UserName</button>
</form>