<head>
    <style>
        #input-room-id-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            color: white;
        }
        #room-id {
            margin-bottom: 10px;
        }
        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<form id="input-room-id-form">
    <label for="room-id">Room ID:</label>
    <input type="text" id="room-id" name="room-id" required>
    <button type="submit">Join Room</button>
</form>